@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_property-card.scss";
@import "./_listing-page.scss";
@import "./_test-page.scss";

.primary-text {
    color: #6941c6 !important;
}

.secondary-button-bg {
    background-color: #f4ebff !important;
}

.primary-button-bg {
    background-color: #6941c6 !important;
}

.thumbnail {
    height: 45%;
}

.secondary {
    background-color: #f7f7fe
}

.error {
    color: red;
    font-size: x-small;
}
.ant-btn-primary {
    color: #fff;
    background-color: #1677ff;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

* {
    font-family: 'Inter', sans-serif !important;
}
