*,*::before,*::after{
    font-family: 'Open Sans',sans-serif;
    }
.ccard{
    
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    
}

.ccard-header{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.ccard-header.ccard-image{
    overflow: hidden;
}
.ccard-header.ccard-image>img{
    display: block;
    width: 100%;
    aspect-ratio: 16/9; 
    object-fit: cover; 
    object-position: center;
    
}
.ccard-body{
    font-size: .9rem;
}
.ccard-footer{
    margin-top: 1rem;
}
.cc-btn{
    background: hsl(200,50%,50%);
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25rem;
    cursor: pointer;
}
.cc-btn:hover , .cc-btn:focus{
    background: hsl(200,50%,60%);
}
.cc-btn.cc-btn-outline{
    background: none;
    border: 1px solid hsl(200,50%,50%);

}
.cc-btn.cc-btn-outline:hover, .cc-btn.cc-btn-outline:focus{
    background: hsl(200,50%,90%);
}
.cc-btn + .cc-btn{
    margin-left: .25rem;
}