*,*::before,*::after{
    font-family: 'Open Sans',sans-serif;
    }
.card{
    
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    
}

.card-header{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.card-header.card-image{
    overflow: hidden;
}
.card-header.card-image>img{
    display: block;
    width: 100%;
    aspect-ratio: 16/9; 
    object-fit: cover; 
    object-position: center;
    
}
.card-body{
    font-size: .9rem;
}
.card-footer{
    margin-top: 1rem;
}
.c-btn{
    background: hsl(200,50%,50%);
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25rem;
    cursor: pointer;
}
.c-btn:hover , .c-btn:focus{
    background: hsl(200,50%,60%);
}
.c-btn.c-btn-outline{
    background: none;
    border: 1px solid hsl(200,50%,50%);

}
.c-btn.c-btn-outline:hover, .c-btn.c-btn-outline:focus{
    background: hsl(200,50%,90%);
}
.c-btn + .c-btn{
    margin-left: .25rem;
}